.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

h1 {
  color: #ffe81f;
  background-color: #000000;
  margin: 0;
}

.logo {
  height: 150px;
  align-self: flex-end;
}
